body
{
    margin:0;
    padding:0;
    display:grid;
    grid-template-rows:min-content 1fr min-content;
    width:100vw;
    gap:100px;
    height:100vh;
    
}
*
{
    font-family:arcade;
    font-size:1.2rem;
}
main
{
    display:grid;
    width:100%;
    height:100%;
    place-content:center;

}
.game-board-background
{
    background-color:rgba(128, 128, 128, 0.658);
    width:290px;
}
.game-board
{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    gap:6px;
    width:300px;
    height:300px;
}
.tile
{
    background:white;
    display:grid;
    place-content:center;
}
.cirlce-img
{
    height:60px;
    filter: rgb(192, 149, 69);
}
.circle-img
{
    border-radius:100px;
    border:4px solid black;
    height:55px;
}

#tile-1
{
   grid-column:1/2;
   grid-row   :1/2;
}
#tile-2
{
    grid-row:1/2;
    grid-column:2/3;
}
#tile-3
{
    grid-row:1/2;
    grid-column:3/4;
}
#tile-4
{
    grid-row:2/3;
    grid-column:1/2;
}
#tile-5
{
    grid-row:2/3;
    grid-column:2/3;
}
#tile-6
{
    grid-row:2/3;
    grid-column:3/4;
}
#tile-7
{
    grid-row:3/4;
    grid-column:1/2;
}
#tile-8
{
    grid-row:3/4;
    grid-column:2/3;
}
#tile-9
{
    grid-row:3/4;
    grid-column:3/4;
}

.scoreboard
{
    display:flex;
    justify-content:center;
}
.player-profile-icon
{
    width:60px;
    height:60px;
    border-radius:100px;
    border:1px solid black;


}
#p1-img
{
    background-color:skyblue;
    
}
#p2-img
{
    background-color:rgba(252, 164, 0, 0.61)
}
.player-details
{
    display:flex;
    justify-content:space-between;
    gap:20px;
    justify-content:center;
    align-items:center;
    font-size:1.6rem;
    font-family:'arcade';
    border:3px solid rgba(128, 128, 128, 0.596);
    padding:10px;


}
@font-face 
{
    font-family: 'arcade';
    src: url('./fonts/arcadeclassic-webfont.woff2') format('woff2'),
         url('./fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
button
{
    background:none;
    width:200px;
    border:4px solid rgba(128, 128, 128, 0.616)
}
footer
{
    display:flex;
    gap:20px;
    align-items:center;
    justify-content:center;
    margin-bottom:8px;
}